<div class="container bg-light p-4">
  <div class="row">
    <div class="col-8 m-auto">
      <form [formGroup]="formGroupStudents">
        <h1 class="text-center">Cadastro de alunos</h1>
        <div class="mb-3">
          <label for="id" class="form-label">Matrícula</label>
          <input
            type="text"
            class="form-control"
            id="id"
            formControlName="id"
          />
        </div>
        <div class="mb-3">
          <label for="name" class="form-label">Nome</label>
          <input
            type="text"
            class="form-control"
            id="name"
            formControlName="name"
          />
        </div>
        <div class="mb-3">
          <label for="course" class="form-label">Curso</label>
          <input
            type="text"
            class="form-control"
            id="course"
            formControlName="course"
          />
        </div>
        <div class="d-grid">
          <button type="submit" class="btn btn-primary" (click)="save()">
            Salvar
          </button>
        </div>
      </form>
      <br />
      <h1 class="text-center">Alunos</h1>
      <table class="table table-striped my-2">
        <thead>
          <tr>
            <th scope="col">Matrícula</th>
            <th scope="col">Nome</th>
            <th scope="col">Curso</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let student of students">
            <th scope="row">{{ student.id }}</th>
            <td>{{ student.name }}</td>
            <td>{{ student.course }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
