<div class="container bg-light p-4">
  <div class="row">
    <div class="col-10 m-auto">
      <form [formGroup]="formGroupStudents">
        <h1 class="text-center">Cadastro de alunos</h1>
        <div class="mb-3">
          <label for="name" class="form-label">Nome</label>
          <input
            type="text"
            class="form-control"
            id="name"
            formControlName="name"
          />
          <small *ngIf="submitted && name.hasError('minlength')" class="text-danger">
            *O nome deve conter no mínimo 3 caracteres!
          </small>
          <small *ngIf="name.hasError('required')" class="text-danger">
            *O nome é requerido!
          </small>
        </div>
        <div class="mb-3">
          <label for="course" class="form-label">Curso</label>
          <input
            type="text"
            class="form-control"
            id="course"
            formControlName="course"
          />
          <small *ngIf="submitted && course.hasError('required')" class="text-danger">
            *O curso é requerido!
          </small>
        </div>
        <div class="d-grid">
          <button type="submit" class="btn btn-primary" (click)="save()">
            Salvar
          </button>
        </div>
      </form>
      <br />
      <h1 class="text-center">Alunos</h1>
      <table class="table table-striped my-2">
        <thead>
          <tr>
            <th scope="col">Matrícula</th>
            <th scope="col">Nome</th>
            <th scope="col">Curso</th>
            <th scope="col"></th>
            <th scope="col">Opções</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let student of students">
            <th scope="row">{{ student.id }}</th>
            <td>{{ student.name }}</td>
            <td>{{ student.course }}</td>
            <td>
              <button
                type="button"
                class="btn btn-danger me-2"
                (click)="delete(student)"
              >
                Remover
              </button>
            </td>
            <td>
              <button
                type="button"
                class="btn btn-primary"
                (click)="edit(student)"
              >
                Alterar
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
